[user]
	name = sukenori
	email = sukenori@coo.net
[credential]
	helper = "!f() { /root/.vscode-server/bin/560a9dba96f961efea7b1612916f89e5d5d4d679/node /tmp/vscode-remote-containers-780d3dc4-9ad3-43db-81e4-5144ca66d424.js git-credential-helper $*; }; f"
